/*
====== loremipsum.html ======
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 0 10%;
*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ====== Colors ====== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #88a9c3;
    --primary-color-light: #f6f5ff;
    --secondary-color: #2b4257;
    --secondary-color-light: #a5b2bd;
    --toggle-color: #ddd;
    --text-color: #343434;
    --gradient-color: linear-gradient(to right, #88a9c3, #a5b2bd);

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-02);
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #88a9c3;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #fff;
    --gradient-color: linear-gradient(to right, #88a9c3, #a5b2bd);
}

/* ====== Sidebar ====== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ====== Reusable CSS ====== */
h2 {
    color: var(--text-color);
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text .image img {
    width: 50px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .brand-name {
    font-weight: 600;
    color: var(--primary-color);
}

.header-text .brand-description {
    margin-top: -2px;
    color: var(--text-color);
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    background: var(--primary-color-light);
    border-radius: 6px;
}

.menu-bar .mode .light-dark {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.light {
    opacity: 0;
}

body.dark .menu-bar .mode i.light {
    opacity: 1;
}

body.dark .menu-bar .mode i.dark {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    cursor: pointer;
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}

.home {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color);
    padding: 8px 40px;
}

/* ###### Always need to put Section name when new one is made! ###### */
.sidebar.close~.likes-member,
.sidebar.close~.update-csstaff-profile,
.sidebar.close~.update-examiner-profile,
.sidebar.close~.csstaff-profile,
.sidebar.close~.examiner-profile,
.sidebar.close~.instructor-content,
.sidebar.close~.update-instructor-profile,
.sidebar.close~.instructor-profile,
.sidebar.close~.dashboard-instructor,
.sidebar.close~.about-us,
.sidebar.close~.contact-us,
.sidebar.close~.quizzes-member,
.sidebar.close~.courses-member,
.sidebar.close~.instructors-member,
.sidebar.close~.update-member-profile,
.sidebar.close~.member-profile,
.sidebar.close~.footer,
.sidebar.close~.dashboard-member,
.sidebar.close~.credits,
.sidebar.close~.home {
    left: 88px;
    width: calc(100% - 88px);
}

/* ====== login.html & register.html ====== */
.signinup input,
.signinup textarea,
.signinup select,
.signinup button {
    font-family: "Poppins", sans-serif;
    color: #333;
    font-size: 13px;
}

.signinup p,
.signinup h1,
.signinup h2,
.signinup h3,
.signinup h4,
.signinup h5,
.signinup h6,
.signinup ul {
    margin: 0;
}

.image-holder img {
    max-width: 100%;
}

.signinup ul {
    padding-left: 0;
    margin-bottom: 0;
}

.signinup a:hover {
    text-decoration: none;
}

.signinup :focus {
    outline: none;
}

.signinup-wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.signinup-wrapper .inner {
    padding: 20px;
    background: #fff;
    max-width: 900px;
    margin: auto;
    display: flex;
    border-radius: 10px;
}

.signinup-wrapper .inner .image-holder {
    text-align: center;
}

.signinup-wrapper .inner .image-holder p {
    margin-top: 10px;
    color: #333;
}

.signinup-wrapper .inner .image-holder p a {
    color: #333;
}

.signinup-wrapper .inner form {
    width: 50%;
    padding-top: 2px;
    padding-left: 45px;
    padding-right: 45px;
}

.signinup-wrapper .inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    margin-bottom: 10px;
}

.signinup-wrapper .inner .logo {
    width: 80px;
    margin: 5px 0px;
}

.signinup-wrapper .form-group {
    display: flex;
}

.signinup-wrapper .form-group input {
    width: 50%;
}

.signinup-wrapper .form-group input:first-child {
    margin-right: 25px;
}

.signinup-wrapper .form-wrapper {
    position: relative;
}

.signinup-wrapper .form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0;
}

.signinup-wrapper .form-wrapper input:focus {
    outline: none;
}

.signinup-wrapper .form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
}

.signinup-wrapper .form-control::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular";
}

.signinup-wrapper .form-control::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular";
}

.signinup-wrapper .form-control:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular";
}

.signinup-wrapper .form-control:-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular";
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px;
}

select option[value=""][disabled] {
    display: none;
}

.signinup-wrapper .inner button {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.signinup-wrapper .inner button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.signinup-wrapper .inner button:hover {
    background: var(--primary-color);
}

.signinup-wrapper .inner button a {
    color: var(--sidebar-color);
}

.signinup-wrapper .inner button:hover i,
.signinup-wrapper .inner button:focus i,
.signinup-wrapper .inner button:active i {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (max-width: 1199px) {
    .signinup-wrapper {
        background-position: right center;
    }
}

@media (max-width: 991px) {
    .signinup-wrapper .signinup-wrapper .inner form {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .signinup-wrapper .signinup-wrapper .inner {
        display: block;
    }

    .signinup-wrapper .signinup-wrapper .inner .image-holder {
        width: 100%;
    }

    .signinup-wrapper .signinup-wrapper .inner form {
        width: 100%;
        padding: 40px 0 30px;
    }

    .signinup-wrapper .signinup-wrapper .inner button {
        margin-top: 60px;
    }
}

.image-holder .user-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 550px;
    width: 400px;
}

.signinup-wrapper .user-cards .card {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--secondary-color-light);
    border-radius: 8px;
    text-align: center;
}

.signinup-wrapper .user-cards .card img {
    margin-bottom: 10px;
}

.signinup-wrapper .user-cards .card h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.signinup-wrapper .user-cards .card p {
    font-size: 14px;
    color: #666;
}

.update-mem-pic .user-image,
.signinup-wrapper .user-image {
    margin-bottom: 10px;
}
.update-mem-pic .user-image .user-img,
.signinup-wrapper .user-image .user-img {
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
}
.update-mem-pic .user-image .user-img img,
.signinup-wrapper .user-image .user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.update-mem-pic .user-image .user-img:hover .overlay,
.signinup-wrapper .user-image .user-img:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-mem-pic .user-image .overlay i,
.signinup-wrapper .user-image .overlay i {
    position: relative;
    color: white;
    font-size: 2em;
    bottom: 0;
}
.update-mem-pic .user-image .user-img .overlay,
.signinup-wrapper .user-image .user-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: 50%;
}

.update-mem-pic .user-image #profile-pic,
.signinup-wrapper .user-image #profile-pic {
    cursor: pointer;
    min-height: 80px;
    max-height: 80px;
}

#popoverBtn {
    position: relative;
    width: 100%;
}

.update-mem-pic .user-image #input-file,
.signinup-wrapper .user-image #input-file {
    display: none;
}

.update-mem-pic .user-image .user-img,
.update-mem-pic .user-image #profile-pic,
.update-mem-pic .user-image .user-img .overlay {
    width: 150px;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
}

.signinup-wrapper #uploadbtn {
    position: absolute;
    height: 25px;
    width: 25px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--sidebar-color);
    transform: translateX(-90%);
    margin-top: 50px;
    background-color: var(--secondary-color);
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.5);
}


/* ====== credits.html ====== */
.credits {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.credits .table-container {
    max-width: 600px;
    margin: 0 auto;
}

.credits table {
    width: 85%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid var(--secondary-color-light);
}

.credits th,
td {
    text-align: center;
    padding: 8px 12px;
    border-bottom: 1px solid var(--secondary-color-light);
    color: var(--text-color);
}

.credits th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

.credits tbody td img {
    margin: 0 auto;
}

.credits tbody .credits-img1 {
    width: 250px;
}

.credits tbody .credits-img2 {
    width: 100px;
}

.credits tbody td a {
    color: var(--text-color);
    text-decoration: none;
}

/* ====== Member Dashboard ====== */
.dashboard-member {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.banner-container {
    display: flex;
    background: var(--gradient-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    height: 400px;
}

.banner-content {
    flex: 1;
    padding: 20px 60px;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--text-color);
}

.banner-content h2 {
    font-size: 50px;
    margin-top: 0;
}

.banner-content p {
    font-size: 20px;
    margin-bottom: 60px;
}

.banner-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image img {
    max-width: 100%;
    max-height: 100%;
}

.learn-more {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.learn-more:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

/* ====== Quick Access ====== */
.dashboard-member .quickaccess-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.dashboard-member .quickaccess-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.dashboard-member .quickaccess-container .card-container .card {
    border-radius: .5rem;
    background-color: var(--primary-color-light);
    padding: 2rem;
}

.dashboard-member .quickaccess-container .card-container .card .title {
    font-size: 20px;
    color: var(--text-color);
}

.dashboard-member .quickaccess-container .card-container .card p {
    line-height: 1.5;
    padding-bottom: 5px;
    font-size: 16px;
    color: var(--text-color);
}

.dashboard-member .quickaccess-container .card-container .card span {
    color: var(--secondary-color);
}

.dashboard-member .quickaccess-container .card-container .tutor {
    text-align: center;
}

.dashboard-member .quickaccess-container .card-container .tutor p {
    padding-bottom: 1rem;
}

.dashboard-member .quickaccess-container .card-container .card .flex-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.dashboard-member .quickaccess-container .card-container .card .flex {
    max-width: 500px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.dashboard-member .quickaccess-container .card-container .card .flex a {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--primary-color);
    text-decoration: none;
}

.dashboard-member .quickaccess-container .card-container .card .flex a i {
    margin-right: 1rem;
    color: var(--text-color);
}

.dashboard-member .quickaccess-container .card-container .card .flex a span {
    color: var(--text-color);
    font-weight: 600;
}

.dashboard-member .quickaccess-container .card-container .card .flex a:hover {
    background-color: var(--secondary-color);
}

.dashboard-member .quickaccess-container .card-container .card .flex a:hover span,
.dashboard-member .quickaccess-container .card-container .card .flex a:hover i {
    color: white;
}

/* ====== Member's Content ====== */
.dashboard-member .courses-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.dashboard-member .courses-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.dashboard-member .courses-container .card-container .card {
    border-radius: .5rem;
    background-color: var(--primary-color-light);
    padding: 2rem;
}

.dashboard-member .courses-container .card-container .card .tutor {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-member .courses-container .card-container .card .tutor img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard-member .courses-container .card-container .card .tutor h3 {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: .2rem;
}

.dashboard-member .courses-container .card-container .card .tutor span {
    font-size: 16px;
    color: var(--text-color);
}

.dashboard-member .courses-container .card-container .card .thumb {
    width: 100%;
    border-radius: .5rem;
    height: 20rem;
    object-fit: cover;
}

.dashboard-member .courses-container .card-container .card .title {
    font-size: 20px;
    color: var(--text-color);
    padding: 6px 0;
}

.dashboard-member .courses-container .more-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.inline-btn,
.inline-option-btn {
    border-radius: .5rem;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-color);
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.inline-btn,
.inline-option-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
}

.inline-btn:hover,
.inline-option-btn:hover {
    background-color: var(--secondary-color);
    color: white;
}

/* ====== Footer ====== */
.footer {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

footer {
    background-color: var(--primary-color-light);
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
}

footer .footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .footer-container .sec h2 {
    position: relative;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .footer-container .sec p {
    color: var(--text-color);
}

footer .footer-container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

footer .footer-container .sci li {
    list-style: none;
}

footer .footer-container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: var(--secondary-color-light);
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

footer .footer-container .sci li a i {
    color: var(--text-color);
    font-size: 20px;
}

footer .footer-container .quicklinks ul li {
    list-style: none;
}

footer .footer-container .quicklinks ul li a {
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .footer-container .contact .info {
    position: relative;
}

footer .footer-container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .footer-container .contact .info li span {
    color: var(--text-color);
    font-size: 20px;
}

footer .footer-container .contact .info li a {
    color: var(--text-color);
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background-color: var(--primary-color-light);
    padding: 20px 100px 30px;
    text-align: center;
    color: var(--text-color);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.footer .aboutus h2 img {
    width: 100px;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }

    footer .footer-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .copyrightText {
        padding: 20px 40px 30px;
    }
}

@media (max-width: 768px) {
    footer .footer-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

/* ====== profile-member.html ====== */
.member-profile {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 0 10%;
}

.member-profile .text {
    color: var(--text-color);
}

.member-profile-container {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: var(--primary-color-light);
}

.member-profile-container .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.member-profile-container .profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.member-profile-container .user-details h2 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: var(--text-color);
}

.member-profile-container .user-details p {
    margin: 0;
    margin-bottom: 5px;
    color: var(--text-color);
}

.member-profile-container .member-cards-container {
    display: flex;
    justify-content: center;
}

.member-cards-container .card .card-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.member-cards-container .card {
    width: calc(30% - 10px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.member-cards-container .card1 {
    margin-right: 20px;
}

.member-cards-container .card-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.member-cards-container .card h3 {
    margin-top: 0;
}

.member-cards-container .card p {
    margin: 0;
}

.member-cards-container .card a.inline-btn {
    display: block;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.member-cards-container .card a.inline-btn:hover {
    color: white;
}

.member-cards-container .card .card-content .card-icon i {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.member-cards-container .card .card-content .card-info {
    margin-left: 10px;
    color: var(--text-color);
}

/* ====== update-member.html ====== */
.update-member-profile {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 0 10%;
}

.update-memprofile-container {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: var(--primary-color-light);
}

.update-memprofile-container input[type="text"],
.update-memprofile-container input[type="email"],
.update-memprofile-container input[type="password"],
.update-memprofile-container select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

input[disabled]::-webkit-input-placeholder {
    color: #999;
}

.update-memprofile-container .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.update-memprofile-container .field-column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.update-memprofile-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.update-memprofile-container .update-mem-info {
    margin: 20px auto;
}


.update-memprofile-container .update-mem-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.update-memprofile-container .column-1 {
    margin-right: 20px;
}

.update-memprofile-container .update-mem-details {
    text-align: center;
}

.update-memprofile-container .update-mem-details a {
    display: inline-block;
}

.update-memprofile-container .update-mem-details .row label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 3px;
    color: var(--text-color);
}

.update-memprofile-container h2 a {
    color: var(--text-color);
}


/* ====== instructors.html ====== */
.instructors-member {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 0 10%;
    margin-top: 20px;
}

.instructors-member .all-instructors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.instructors-member .instructor-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-light);
}

.instructors-member .instructor-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.instructors-member .instructor-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.instructors-member .instructor-info {
    flex-grow: 1;
}

.instructors-member .instructor-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--text-color);
}

.instructors-member .instructor-role {
    color: var(--text-color);
    font-size: 16px;
    margin-top: 0;
}

.instructors-member .instructor-stats {
    margin-top: auto;
}

.instructors-member .instructor-stats p {
    margin: 15px 0;
    color: var(--text-color);
}

.instructors-member .instructor-stats a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

/* ====== quizzes.html (member) ====== */
.quizzes-member {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 0 10%;
}

.quizzes-member .quizzes-member-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.quizzes-member .quizzes-member-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.quizzes-member .quizzes-member-container .card-container .card {
    border-radius: .5rem;
    background-color: var(--primary-color-light);
    padding: 15px;
}

.quizzes-member .quizzes-member-container .card-container .card .thumb {
    width: 100%;
    border-radius: .5rem;
    height: 15rem;
    object-fit: cover;
}

.quizzes-member .quizzes-member-container .card-container .card .title {
    font-size: 16px;
    color: var(--text-color);
    padding: 6px 0;
}

.quizzes-member .quizzes-member-container .card-container .card .inline-btn {
    margin: 0;
}

/* ====== courses.html (member) ====== */
.courses-member {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 0 10%;
}

.courses-member .courses-member-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.courses-member .courses-member-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.courses-member .courses-member-container .card-container .card {
    border-radius: .5rem;
    background-color: var(--primary-color-light);
    padding: 15px;
}

.courses-member .courses-member-container .card-container .card .thumb {
    width: 100%;
    border-radius: .5rem;
    height: 20rem;
    object-fit: cover;
}

.courses-member .courses-member-container .card-container .card .title {
    font-size: 16px;
    color: var(--text-color);
    padding: 6px 0;
}

.courses-member .courses-member-container .card-container .card .inline-btn {
    margin: 0;
}

.courses-member .courses-member-container .card-container .card .tutor {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.courses-member .courses-member-container .card-container .card .tutor img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.courses-member .courses-member-container .card-container .card .tutor h3 {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: .2rem;
}

.courses-member .courses-member-container .card-container .card .tutor span {
    font-size: 16px;
    color: var(--text-color);
}

.courses-member .courses-member-container .card-container .card .thumb {
    width: 100%;
    border-radius: .5rem;
    height: 15rem;
    object-fit: cover;
}

.courses-member .courses-member-container .card-container .card .title {
    font-size: 20px;
    color: var(--text-color);
    padding: 6px 0;
}

/* ====== likes.html (member) ====== */
.likes-member {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 0 10%;
}

.likes-member .likes-member-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.likes-member .likes-member-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.likes-member .likes-member-container .card-container .card {
    border-radius: .5rem;
    background-color: var(--primary-color-light);
    padding: 15px;
}

.likes-member .likes-member-container .card-container .card .thumb {
    width: 100%;
    border-radius: .5rem;
    height: 15rem;
    object-fit: cover;
}

.likes-member .likes-member-container .card-container .card .title {
    font-size: 16px;
    color: var(--text-color);
    padding: 6px 0;
}

.likes-member .likes-member-container .card-container .card .inline-btn {
    margin: 0;
}

.likes-member .likes-member-container .card-container .card .tutor {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.likes-member .likes-member-container .card-container .card .tutor img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.likes-member .likes-member-container .card-container .card .tutor h3 {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: .2rem;
}

.likes-member .likes-member-container .card-container .card .tutor span {
    font-size: 16px;
    color: var(--text-color);
}

.likes-member .likes-member-container .card-container .card .thumb {
    width: 100%;
    border-radius: .5rem;
    height: 15rem;
    object-fit: cover;
}

.likes-member .likes-member-container .card-container .card .title {
    font-size: 20px;
    color: var(--text-color);
    padding: 6px 0;
}

.likes-member .likes-member-container .card-container .card .card-container-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


/* ====== contactus.html ====== */
.contact-us {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.contact-us .contactus-container {
    height: 100vh;
}

.contact-us .contactus-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-us .contactus-image {
    flex: 1;
}

.contact-us .contactus-image iframe {
    width: 100%;
    height: 100vh;
}

.contact-us .contactus-details {
    flex: 1;
    padding: 0 50px;
}

.contact-us .contactus-title {
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 15vh;
    margin-bottom: 5px;
}

.contact-us .contactus-description {
    width: 80%;
    color: var(--text-color);
}

.contact-us .desc1 {
    margin-bottom: 40px;
}

.contact-us .desc2 {
    margin-bottom: 20px;
}

.contact-us .contactus-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 40px;
}

.contact-us .contactus-info-item {
    flex: 1;
    color: var(--text-color);
}

.contact-us .contactus-form {
    border: 1px solid var(--text-color);
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 50%;
    height: 50px;
    padding: 0;
    margin-bottom: 25px;
    color: var(--text-color);
}

.contact-us .contactus-form button {
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-color);
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
    border: none;
}

.contact-us .contactus-form button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.contactus-form .form-wrapper {
    position: relative;
}

.contactus-form .form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0;
}

.contactus-form .form-wrapper input:focus {
    outline: none;
}

.contactus-form .form-control {
    border: 1px solid var(--text-color);
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    margin-bottom: 25px;
    background: none;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: var(--text-color);
}

.contactus-form .form-control:-moz-placeholder,
.contactus-form .form-control:-ms-input-placeholder,
.contactus-form .form-control::-moz-placeholder,
.contactus-form .form-control::-webkit-input-placeholder {
    font-size: 16px;
    color: var(--text-color);
    font-family: "Poppins-Regular";
}

/* ====== aboutus.html ====== */
.about-us {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 0 10%;
    margin: 0;
}

.aboutus-container .aboutus-img p {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.aboutus-container .aboutus-img img {
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.aboutus-container .aboutus-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 40px;
}

.aboutus-container .aboutus-info .card {
    background-color: var(--primary-color-light);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aboutus-container .aboutus-info .card:hover {
    background-color: var(--primary-color);
    transition: var(--tran-05);
}

.aboutus-container .aboutus-info .title {
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.aboutus-container .aboutus-info p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.6;
}